# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.tfvars

# Ansible
*.retry

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db